@media only screen and (max-width: 1250px) and (orientation: portrait) {
    .access-button img {
        display: none;
    }
    
    .custom-col { 
        width: 100%;
    }

    .custom-row p {
        font-size: 50px !important;
    }
    
    .custom-row-text p {
        font-size: 18px !important;
        margin-top: 30px !important;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 10px;
    }

    .col-a { 
        width: 60px;
    }

    .col-b { 
        margin-top: 55px;
        margin-left: 30px;
        white-space: nowrap;
        width: 600px;
    }

    .custom-col img {
        width: 80px !important;
        margin-top: 0px !important;
    }
}


@media only screen and (max-width: 1000px) and (orientation: portrait) {
    .section3 {
        padding-left: 0;
        padding-right: 0;
    }

    #section4 {
        background-color: #EBFF00;
        position: relative;
        width: 100%;
        height: 95vw !important;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    .floating-image { 
        display: none;
    }

    .fixed-image { 
        display: none;
    }

    .responsive-card-image {
        display: block !important;
        width: 85% !important;
        height: 80% !important;
        margin: 440px 0 !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

}

@media only screen and (max-width: 1050px) and (orientation: portrait) {
    .caixa .linha {
        flex-direction: column;
        text-align: center;
    }
}

@media only screen and (max-width: 780px) and (orientation: portrait) {

    .yellowSection1 {
        background-image: none !important;
        height: 120vw !important;
    }

    .logo img {
        width: 100px;
        height: auto;
        margin-top: 30px;
        margin-left: 30px;
    }

    .access-button img { 
        width: 50%;
        height: auto;
        margin-left: 60px;
    }

    .download-button img { 
        width: 70%;
        height: auto;
        margin-right: -160px;
    }

    .line {
        display: none;
    }

    .yellowSection1 div {
        margin-left: 0;
    }

    .yellowSection1 div p {
        font-size: 36px;
        margin-top: -10px;
    }

    .yellowSection1 div p:nth-child(2) {
        font-size: 60px;
        margin-top: -20px;
        margin-bottom: 20px;
        margin-right: 130px;
    }

    .text-container p {
        font-size: 20px !important;
        margin-left: 30px;
    }

    .text-container p:nth-child(2) {
        font-size: 30px !important;
        margin-top: -10px !important;
    }

    .union-image {
        display: none;
    }

    .card-image {
        width: 75vw !important;
        margin-top: 75vw !important;
        margin-left: 20px;
        height: 90vw;
    }

    .yeeey-image-container {
        width: 60%;
        margin-bottom: 100px;
        text-align: left;
    }

    .yeeey-image {
        margin-top: 40px !important;
        margin-left: 20px !important;
        width: 250px !important;
        height: auto;
    }

    .caixa { 
        margin-left: 20px !important;
        margin-top: -30px !important;
        margin-bottom: 50px !important;
    }

    .caixa .linha {
        flex-direction: column;
        text-align: center;
    }

    .coluna {
        width: 90%;
        margin-bottom: 10px;
        font-size: 16px !important;
        text-transform: uppercase;
        line-height: normal;
        text-align: left;
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-bottom: 20px !important;
    }

    .coluna p { 
        margin-top: 8px;
        font-size: 12px !important;
        font-weight: 400;
    }

    .section4 { 
        height: 400px !important;
    }

    .floating-image { 
        display: none;
    }

    .fixed-image { 
        display: none;
    }

    .developed-text { 
        margin-top: 50px;
        margin-left: -160px;
        font-size: 8px;
        font-weight: 300;
    }

    .section5 { 
        font-size: 18px !important;
    }

    .icon-column {
        margin-right: 10px;
    }
    
    .column-part img {
        width: 60px !important;
        height: 60px !important;
    }
    
    .text-column {
        width: 200px;
        text-align: left;
        word-wrap: break-word;
    }

    .section3 {
        padding-left: 20px !important;
        padding-right: 10px !important;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .custom-col { 
        width: 100%;
    }

    .custom-row p {
        font-size: 50px !important;
    }
    
    .custom-row-text p {
        font-size: 14px !important;
        margin-top: 30px !important;
    }

    .col-a { 
        width: 60px;
    }

    .col-b { 
        margin-top: 55px;
        margin-left: 20px;
        white-space: nowrap;
        width: 600px;
    }

    .custom-col img {
        width: 80px !important;
        margin-top: 0px !important;
    }

    .footer-container:last-child .footer-row {
        margin-left: 0 !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
        padding-bottom: 20px !important;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .footer-container:last-child .footer-row .address-text {
        margin: 0 !important; 
        padding: 0 !important;
        text-align: center;
        font-size: 10px !important; 
    }


}

@media only screen and (max-width: 680px) and (orientation: portrait) {
    .responsive-card-image {
        display: block !important;
        width: 85% !important;
        height: 80% !important;
        margin: 320px 0 !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
}


@media only screen and (max-width: 480px) and (orientation: portrait) {
    .responsive-card-image {
        display: block !important;
        width: 85% !important;
        height: 80% !important;
        margin: 240px 0 !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
}

@media only screen and (max-width: 380px) and (orientation: portrait) {
    .responsive-card-image {
        display: block !important;
        width: 85% !important;
        height: 80% !important;
        margin: 220px 0 !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
}