@media only screen and (max-width: 1250px) and (orientation: portrait) {
    .download-button img {
        display: none;
    }
    
    .custom-col { 
        width: 100%;
    }

    .custom-row p {
        font-size: 50px !important;
    }
    
    /* .custom-row-text p {
        font-size: 18px !important;
        margin-top: 30px !important;
        background-color: #fff;
        border: 4px solid #000;
        padding: 10px;
        box-sizing: border-box;
        box-shadow: 8px 8px 0px 0px #000;
    } */

    .col-a { 
        width: 60px;
    }

    .col-b { 
        margin-top: 55px;
        margin-left: 30px;
        white-space: nowrap;
        width: 600px;
    }

    .custom-col img {
        width: 80px !important;
        margin-top: 0px !important;
    }
}


@media only screen and (max-width: 1000px) and (orientation: portrait) {
    .section3 {
        padding-left: 0;
        padding-right: 0;
    }

    #section4 {
        background-color: #EBFF00;
        position: relative;
        width: 100%;
        height: 95vw !important;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    .floating-image { 
        display: none;
    }

    .fixed-image { 
        display: none;
    }

    .responsive-card-image {
        display: block !important;
        width: 85% !important;
        height: 80% !important;
        margin: 440px 0 !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

}

@media only screen and (max-width: 1050px) and (orientation: portrait) {
    .caixa .linha {
        flex-direction: column;
        text-align: center;
    }
}

/* iPad Pro */
@media only screen and (max-width: 1024px) and (orientation: portrait) {

    .logo {
        flex: 15%;
        display: flex;
        justify-content: flex-start;
    }
    
    .logo img {
        width: 80%;
        height: auto;
        margin-top: 30px;
        margin-left: 60px;
    }

    .access-button img { 
        width: 60%;
        height: auto;
        margin-right: -50px;
    }


    .line {
        flex: 80%;
        display: flex;
        z-index: 1000;
    }
    
    .line img { 
        width: 90%;
        margin-left: 50px;
        margin-top: 50px;
    }

    .text-container p {
        font-size: 40px !important;
    }
    
    .second-line-text p {
        font-family: 'Orelega One', sans-serif;
        font-size: 60px !important;
        color: black;
        margin-left: 30px;
        margin-top: -10px !important;
    }
    
    .image-wrapper { 
        margin-top: -100px !important;
    }

    .caixa .linha {
        flex-direction: column;
        text-align: center;
    }

    .floating-image {
        width: 700px;
        height: auto;
        margin: 0;
        margin-left: -40px !important;
    }

    .fixed-image { 
        margin-left: 600px !important;
        margin-right: 80px !important;
    }
    
}

@media only screen and (max-width: 780px) and (orientation: portrait) {

    .yellowSection1 {
        background-image: none !important;
        height: 120vw !important;
    }

    .logo img {
        width: 100px;
        height: auto;
        margin-top: 30px;
        margin-left: 30px;
    }

    .access-button img { 
        width: 35%;
        height: auto;
        margin-left: 120px;
    }

    .download-button img { 
        width: 70%;
        height: auto;
        margin-right: -160px;
    }

    .line {
        display: none;
    }

    .yellowSection1 div {
        margin-left: 0;
    }

    .yellowSection1 div p {
        font-size: 36px;
        margin-top: -10px;
    }

    .yellowSection1 div p:nth-child(2) {
        font-size: 80px !important;
        margin-top: -20px;
        margin-right: 130px;
    }

    .text-container p {
        font-size: 45px !important;
        margin-left: 30px !important;
    }

    .image-wrapper { 
        margin-top: 40px !important;
    }

    .union-image {
        display: none;
    }

    .card-image {
        width: 75vw !important;
        margin-top: 75vw !important;
        margin-left: 20px;
        height: 90vw;
    }

    .yeeey-image-container {
        width: 60%;
        margin-bottom: 100px;
        text-align: left;
    }

    .yeeey-image {
        margin-top: 40px !important;
        margin-left: 20px !important;
        width: 250px !important;
        height: auto;
    }

    .caixa { 
        margin-left: 20px !important;
        margin-top: -30px !important;
        margin-bottom: 50px !important;
    }

    .caixa .linha {
        flex-direction: column;
        text-align: center;
    }

    .coluna {
        width: 90%;
        margin-bottom: 10px;
        font-size: 16px !important;
        text-transform: uppercase;
        line-height: normal;
        text-align: left;
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-bottom: 20px !important;
    }

    .coluna p { 
        margin-top: 8px;
        font-size: 12px !important;
        font-weight: 400;
    }

    .section4 { 
        height: 400px !important;
    }

    .floating-image { 
        display: none;
    }

    .fixed-image { 
        display: none;
    }

    .developed-text { 
        margin-top: 50px;
        margin-left: -160px;
        font-size: 8px;
        font-weight: 300;
    }

    .section5 { 
        font-size: 18px !important;
    }

    .icon-column {
        margin-right: 10px;
    }
    
    .column-part img {
        width: 60px !important;
        height: 60px !important;
    }
    
    .text-column {
        width: 200px;
        text-align: left;
        word-wrap: break-word;
    }

    .section3 {
        padding-left: 20px !important;
        padding-right: 10px !important;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .custom-col { 
        width: 100%;
    }

    .custom-row p {
        font-size: 50px !important;
    }
    
    /* .custom-row-text p {
        font-size: 14px !important;
        margin-top: 30px !important;
    } */

    .col-a { 
        width: 60px;
    }

    .col-b { 
        margin-top: 55px;
        margin-left: 20px;
        white-space: nowrap;
        width: 600px;
    }

    .custom-col img {
        width: 80px !important;
        margin-top: 0px !important;
    }

    .footer-container:last-child .footer-row {
        margin-left: 0 !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
        padding-bottom: 20px !important;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .footer-container:last-child .footer-row .address-text {
        margin: 0 !important; 
        padding: 0 !important;
        text-align: center;
        font-size: 10px !important; 
    }


}

/* iPad */
@media only screen and (max-width: 768px) and (orientation: portrait) {

    .caixa { 
        margin-left: 60px !important;
    }

    .yeeey-image-container {
        width: 100%;
        margin-bottom: 60px;
        margin-left: 40px !important;
    }

    .yeeey-image {
        margin-top: 80px !important;
        width: 280px;
        height: auto;
    }

    .text-container p {
        font-size: 60px !important;
    }
    
    .second-line-text p {
        font-family: 'Orelega One', sans-serif;
        font-size: 80px !important;
        color: black;
        margin-left: 30px !important;
        margin-top: -20px !important;
    }
    
    .image-wrapper { 
        margin-top: 80px !important;
    }

    .card-image {
        width: 480px !important;
        height: auto;
    }
    
    .caixa .linha {
        flex-direction: column;
        text-align: center;
    }

    .floating-image {
        width: 700px;
        height: auto;
        margin: 0;
        margin-left: -40px !important;
    }

    .fixed-image { 
        margin-left: 600px !important;
        margin-right: 80px !important;
    }

    .section3 {
        padding-left: 20px !important;
        padding-right: 10px !important;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .custom-col { 
        width: 100%;
    }

    .custom-row p {
        font-size: 50px !important;
        margin-left: 250px !important;
    }
    
    .custom-row-text p {
        font-size: 18px !important;
        margin-top: 30px !important;
        margin-left: 250px !important;
    }

    .col-a { 
        width: 60px;
    }

    .col-b { 
        margin-top: 55px;
        margin-left: 20px;
        white-space: nowrap;
        width: 600px;
    }

    .custom-col img {
        width: 75px !important;
        margin-top: 5px !important;
        margin-left: 250px !important;
    }

    .section3 { 
        height: 400px !important;
    }
}
@media only screen and (max-width: 680px) and (orientation: portrait) {

    .card-image {
        width: 480px !important;
        height: auto;
        margin-top:470px !important;
    }
}

@media only screen and (max-width: 500px) and (orientation: portrait) {

    .card-image {
        width: 480px !important;
        height: auto;
        margin-top: 520px !important;
    }
}

@media only screen and (max-width: 420px) and (orientation: portrait) {

    .card-image {
        width: 480px !important;
        height: auto;
        margin-top: 290px !important;
    }
}

@media only screen and (max-width: 415px) and (max-height: 896px) and (orientation: portrait) {

    .card-image {
        width: 480px !important;
        height: auto;
        margin-top: 520px !important;
    }
}

@media only screen and (max-width: 410px) and (orientation: portrait) {

    .card-image {
        width: 480px !important;
        height: auto;
        margin-top: 290px !important;
    }
}

@media only screen and (max-width: 310px) and (orientation: portrait) {

    .card-image {
        width: 480px !important;
        height: auto;
        margin-top: 250px !important;
    }
}

@media only screen and (max-width: 680px) and (orientation: portrait) {
    .yellowSection1 {
        height: 800px !important;
    }
   
    .responsive-card-image {
        display: block !important;
        width: 85% !important;
        height: 80% !important;
        margin: 300px 0 !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
    .custom-row-text p {
        font-size: 16px !important;
        margin-top: 30px !important;
        margin-left: 10px !important;
        background-color: #fff;
        border: 4px solid #000;
        padding: 20px;
        box-sizing: border-box;
        box-shadow: 8px 8px 0px 0px #000;
    }

    .custom-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 20px;
    }

    .custom-row {
        margin-left: -220px;
    }
}
@media only screen and (max-width: 480px) and (orientation: portrait) {


    .yellowSection1 div {
        margin-left: -7px;
    }
    .text-container p {
        font-size: 20px;
    }
    
    .second-line-text p {
        font-family: 'Orelega One', sans-serif;
        font-size: 3.5rem;
        color: black;
        margin-left: 30px;
        width: 103%;
    }
    
    .image-wrapper { 
        margin-top: 20px !important;
    }

    .responsive-card-image {
        display: block !important;
        width: 85% !important;
        height: 80% !important;
        margin: 240px 0 !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
}

/* iPhone 6/7/8 Plus */
@media only screen and (max-width: 414px) and (orientation: portrait) {

    .yellowSection1 { 
        height: 560px !important;
    }

    .text-container p {
        font-size: 30px !important;
    }
    
    .second-line-text p {
        font-family: 'Orelega One', sans-serif;
        font-size: 50px !important;
        color: black;
        margin-left: 30px !important;
        margin-top: -10px !important;
    }
    
    .image-wrapper { 
        margin-top: 80px !important;
    }

    .card-image {
        width: 280px !important;
        height: auto;
        margin-left: 20px !important;
    }
    
    .caixa .linha {
        flex-direction: column;
        text-align: center;
    }

    .union-image { 
        display: none;
    }

    .floating-image {
        display: none;
    }

    .fixed-image { 
        margin-top: -30px !important;
        margin-left: 300px !important;
        margin-right: 80px !important;
        margin-bottom: 100px !important;
    }

    .section3 {
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .custom-col { 
        width: 100%;
    }

    .custom-row p {
        font-size: 50px !important;
        margin-left: 15px !important;
    }
    
    .custom-row-text p {
        font-size: 16px !important;
        margin-top: 30px !important;
        margin-left: 10px !important;
        background-color: #fff;
        border: 4px solid #000;
        padding: 20px;
        box-sizing: border-box;
        box-shadow: 8px 8px 0px 0px #000;
    }

    .section3 { 
        height: 480px !important;
    }

    .col-a { 
        width: 60px;
    }

    .col-b { 
        margin-top: 55px;
        margin-left: 20px;
        white-space: nowrap;
        width: 600px;
    }

    .custom-col img {
        width: 80px !important;
        margin-top: 0px !important;
        margin-left: 5px !important;
    }

    .responsive-card-image {
        display: block !important;
        width: 85% !important;
        height: 80% !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
        margin-top: 210px !important;
    }

    .yeeey-image-container {
        width: 60%;
        margin-bottom: 100px;
        text-align: left;
    }

    .yeeey-image {
        margin-top: 40px !important;
        margin-left: -10px !important;
        width: 250px !important;
        height: auto;
    }

    .caixa { 
        margin-left: 30px !important;
        margin-top: -30px !important;
        margin-bottom: 50px !important;
    }
}

/* iPhone X */
@media only screen and (max-width: 375px) and (orientation: portrait) {

    .yeeey-image-container {
        width: 60%;
        margin-bottom: 100px;
        text-align: left;
    }

    .yeeey-image {
        margin-top: 40px !important;
        margin-left: -10px !important;
        width: 250px !important;
        height: auto;
    }

    .caixa { 
        margin-left: 30px !important;
        margin-top: -30px !important;
        margin-bottom: 50px !important;
    }

    .yellowSection1 { 
        height: 520px !important;
    }

    .text-container p {
        font-size: 40px !important;
    }
    
    .second-line-text p {
        font-family: 'Orelega One', sans-serif;
        font-size: 60px !important;
        color: black;
        margin-left: 30px !important;
        margin-top: -20px !important;
    }
    
    .image-wrapper { 
        margin-top: 90px !important;
    }

    .card-image {
        width: 300px !important;
        height: auto;
        margin-left: 20px !important;
    }
    
    .caixa .linha {
        flex-direction: column;
        text-align: center;
    }

    .union-image { 
        display: none;
    }

    .floating-image {
        display: none;
    }

    .fixed-image { 
        margin-top: -30px !important;
        margin-left: 300px !important;
        margin-right: 80px !important;
        margin-bottom: 100px !important;
    }

    .section3 {
        padding-left: 20px !important;
        padding-right: 10px !important;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .custom-col { 
        width: 100%;
    }

    .custom-row p {
        font-size: 50px !important;
        margin-left: 15px !important;
    }
    
    .custom-row-text p {
        font-size: 15px !important;
        margin-top: 30px !important;
        margin-left: 10px !important;
        background-color: #fff;
        border: 4px solid #000;
        padding: 30px;
        box-sizing: border-box;
        box-shadow: 8px 8px 0px 0px #000;
        margin-bottom: 20px !important;
    }

    .section3 { 
        height: 500px !important;
    }

    .col-a { 
        width: 60px;
    }

    .col-b { 
        margin-top: 55px;
        margin-left: 20px;
        white-space: nowrap;
        width: 600px;
    }

    .custom-col img {
        width: 80px !important;
        margin-top: 0px !important;
        margin-left: 5px !important;
    }

    .responsive-card-image {
        display: block !important;
        width: 85% !important;
        height: 80% !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
        margin-top: 210px !important;
    }
}

@media only screen and (max-width: 360px) and (orientation: portrait) {

    .yellowSection1 { 
        height: 520px !important;
    }

    .text-container p {
        font-size: 40px !important;
    }
    
    .second-line-text p {
        font-family: 'Orelega One', sans-serif;
        font-size: 60px !important;
        color: black;
        margin-left: 30px !important;
        margin-top: -20px !important;
    }
    
    .image-wrapper { 
        margin-top: 100px !important;
    }

    .card-image {
        width: 300px !important;
        height: auto;
    }
    
    .caixa .linha {
        flex-direction: column;
        text-align: center;
    }

    .union-image { 
        display: none;
    }

    .floating-image {
        display: none;
    }

    .fixed-image { 
        margin-top: -30px !important;
        margin-left: 300px !important;
        margin-right: 80px !important;
        margin-bottom: 100px !important;
    }

    .section3 {
        padding-left: 20px !important;
        padding-right: 10px !important;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .custom-col { 
        width: 100%;
    }

    .custom-row p {
        font-size: 45px !important;
        margin-left: 15px !important;
    }
    
    .custom-row-text p {
        font-size: 14px !important;
        margin-top: 30px !important;
        margin-left: 10px !important;
        background-color: #fff;
        border: 4px solid #000;
        padding: 10px;
        box-sizing: border-box;
        box-shadow: 8px 8px 0px 0px #000;
    }

    .col-a { 
        width: 60px;
    }

    .col-b { 
        margin-top: 55px;
        margin-left: 20px;
        white-space: nowrap;
        width: 600px;
    }

    .custom-col img {
        width: 70px !important;
        margin-top: 0px !important;
        margin-left: 5px !important;
    }

    .responsive-card-image {
        display: block !important;
        width: 85% !important;
        height: 80% !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
        margin-top: 210px !important;
    }
}


@media only screen and (max-width: 320px) and (orientation: portrait) {

    .yellowSection1 { 
        height: 520px !important;
    }

    .text-container p {
        font-size: 30px !important;
    }
    
    .second-line-text p {
        font-family: 'Orelega One', sans-serif;
        font-size: 50px !important;
        color: black;
        margin-left: 30px !important;
        margin-top: -10px !important;
    }
    
    .image-wrapper { 
        margin-top: 120px !important;
    }

    .card-image {
        width: 290px !important;
        height: auto;
    }
    
    .caixa .linha {
        flex-direction: column;
        text-align: center;
    }

    .union-image { 
        display: none;
    }

    .floating-image {
        display: none;
    }

    .fixed-image { 
        margin-left: 300px !important;
        margin-right: 80px !important;
        margin-bottom: 80px !important;
    }

    .section3 {
        padding-left: 20px !important;
        padding-right: 10px !important;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .custom-col { 
        width: 100%;
    }

    .custom-row p {
        font-size: 40px !important;
        margin-left: 0px !important;
    }
    
    .custom-row-text p {
        font-size: 12px !important;
        margin-top: 30px !important;
        margin-left: 0px !important;
        background-color: #fff;
        border: 4px solid #000;
        padding: 10px;
        box-sizing: border-box;
        box-shadow: 8px 8px 0px 0px #000;
    }

    .col-a { 
        width: 60px;
    }

    .col-b { 
        margin-top: 55px;
        margin-left: 20px;
        white-space: nowrap;
        width: 600px;
    }

    .custom-col img {
        width: 60px !important;
        margin-top: 0px !important;
        margin-left: 0px !important;
    }

    .responsive-card-image {
        display: block !important;
        width: 85% !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
        margin-top: 180px !important;
    }
}