/* @media only screen and (max-width: 1250px) and (orientation: landscape) {
    
    .download-button img {
        display: none;
    }
    
    .line { 
        height: 0px;
    }

    .access-button img { 
        width: 45%;
        height: auto;
        margin-left: 100px;
    }

    .custom-col { 
        width: 100%;
    }

    .custom-row p {
        font-size: 50px !important;
    }
    
    /* .custom-row-text p {
        font-size: 18px !important;
        margin-top: 30px !important;
        background-color: white;
        background-color: #fff;
        border: 4px solid #000;
        padding: 10px;
        box-sizing: border-box;
        box-shadow: 8px 8px 0px 0px #000;
        margin-bottom: 100px;
    } */

    /* .col-a { 
        width: 60px;
    }

    .col-b { 
        margin-top: 55px;
        margin-left: 30px;
        white-space: nowrap;
        width: 600px;
    }

    .custom-col img {
        width: 80px !important;
        margin-top: 0px !important;
    }
} */

/* @media only screen and (max-width: 900px) and (orientation: landscape) {
    .section3{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .floating-image { 
        display: none;
    }

    .fixed-image { 
        display: none;
    }

    .section4{
        height: 95vw !important;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .responsive-card-image {
        display: block !important;
        width: 85% !important;
        height: 80% !important;
        margin: 440px 0 !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
}

@media only screen and (max-width: 1050px) and (orientation: landscape) {

    .text-container p {
        font-size: 45px !important;
        margin-left: 30px;
    }

    .text-container p:nth-child(2) {
        font-size: 65px !important;
        margin-top: -10px !important;
    }

    .image-wrapper { 
        margin-top: -100px !important;
    }

    .caixa .linha {
        flex-direction: column;
        text-align: center;
    }
}

/* @media only screen and (max-width: 840px) and (orientation: landscape) {
    .section3 {
        padding-left: 210px !important;
        padding-right: 10px !important;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .custom-col { 
        width: 100%;
    }

    .custom-row p {
        font-size: 50px !important;
    }
    
    .custom-row-text p {
        font-size: 14px !important;
        margin-top: 30px !important;
    }

    .col-a { 
        width: 60px;
    }

    .col-b { 
        margin-top: 55px;
        margin-left: 30px;
        white-space: nowrap;
        width: 600px;
    }

    .custom-col img {
        width: 80px !important;
        margin-top: 0px !important;
    }
} */

/* @media only screen and (max-width: 800px) and (orientation: landscape) {

    .yellowSection1 {
        background-image: none !important;
        height: 650px !important;
    }

    .logo img {
        width: 100px;
        height: auto;
        margin-top: 30px;
        margin-left: 30px;
    }

    .access-button img { 
        width: 35%;
        height: auto;
        margin-left: 120px;
    }

    .download-button img { 
        width: 70%;
        height: auto;
        margin-right: -160px;
    }

    .line {
        display: none !important;
    }

    .yellowSection1 div {
        margin-left: 0;
    }

    .yellowSection1 div p {
        font-size: 36px;
        margin-top: -10px;
    }

    .yellowSection1 div p:nth-child(2) {
        font-size: 60px;
        margin-top: -20px;
        margin-bottom: 20px;
        margin-right: 130px;
    }

    .text-container p {
        font-size: 35px !important;
        margin-left: 30px;
    }

    .text-container p:nth-child(2) {
        font-size: 45px !important;
        margin-top: -10px !important;
    }

    .union-image {
        display: none;
    }

    .card-image {
        width: 50% !important;
        margin-top: 450px !important;
        margin-left: 90px;
    }

    .yeeey-image-container {
        width: 60%;
        margin-bottom: 100px;
        text-align: left;
    }

    .yeeey-image {
        margin-top: 40px !important;
        margin-left: 20px !important;
        width: 250px !important;
        height: auto;
    }

    .caixa { 
        margin-left: 20px !important;
        margin-top: -30px !important;
        margin-bottom: 50px !important;
    }

    .caixa .linha {
        flex-direction: column;
        text-align: center;
    }

    .coluna {
        width: 90%;
        margin-bottom: 10px;
        font-size: 16px !important;
        text-transform: uppercase;
        line-height: normal;
        text-align: left;
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-bottom: 20px !important;
    }

    .coluna p { 
        margin-top: 8px;
        font-size: 12px !important;
        font-weight: 400;
    }

    .floating-image { 
        display: none;
    }

    .fixed-image { 
        display: none;
    }

    .developed-text { 
        margin-top: 50px;
        margin-left: -160px;
        font-size: 8px;
        font-weight: 300;
    }

    .section5 { 
        font-size: 18px !important;
    }

    .icon-column {
        margin-right: 10px;
    }
    
    .column-part img {
        width: 60px !important;
        height: 60px !important;
    }
    
    .text-column {
        width: 200px;
        text-align: left;
        word-wrap: break-word;
    }

    .section3 {
        padding-left: 210px !important;
        padding-right: 10px !important;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .responsive-card-image {
        display: block !important;
        width: 85% !important;
        height: 80% !important;
        margin: 350px 0 !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

    .custom-col { 
        width: 100%;
    }

    .custom-row p {
        font-size: 50px !important;
    }
    
    .custom-row-text p {
        font-size: 14px !important;
        margin-top: 30px !important;
    }

    .col-a { 
        width: 60px;
    }

    .col-b { 
        margin-top: 55px;
        margin-left: 30px;
        white-space: nowrap;
        width: 600px;
    }

    .custom-col img {
        width: 80px !important;
        margin-top: 0px !important;
    }

}

@media only screen and (max-width: 680px) and (orientation: landscape) {
    .access-button img { 
        width: 30%;
        height: auto;
        margin-left: 100px;
        margin-right: 50px;
    }

    .responsive-card-image {
        display: block !important;
        width: 85% !important;
        height: 80% !important;
        margin-top: 350px 0 !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
} */

/* iPad */
@media only screen and (max-width: 1024px) and (orientation: landscape) {

    .text-container p {
        font-size: 80px !important;
        margin-left: -80px !important;
    }
    
    .second-line-text p {
        font-family: 'Orelega One', sans-serif;
        font-size: 100px !important;
        color: black;
        margin-left: 50px !important;
        margin-top: -20px !important;
    }
    
    .image-wrapper { 
        margin-top: -40px !important;
    }

    .card-image {
        width: 380px !important;
        height: auto;
    }
    
    .caixa .linha {
        flex-direction: column;
        text-align: center;
    }

    .floating-image {
        width: 700px;
        height: auto;
        margin: 0;
        margin-left: -40px !important;
    }

    .fixed-image { 
        margin-left: 600px !important;
        margin-right: 80px !important;
    }

    .section3 {
        padding-left: 20px !important;
        padding-right: 10px !important;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .custom-col { 
        width: 100%;
    }

    .custom-row p {
        font-size: 50px !important;
        margin-left: 250px !important;
    }
    
    .custom-row-text p {
        font-size: 18px !important;
        margin-top: 30px !important;
        margin-left: 250px !important;
    }

    .col-a { 
        width: 60px;
    }

    .col-b { 
        margin-top: 55px;
        margin-left: 20px;
        white-space: nowrap;
        width: 600px;
    }

    .custom-col img {
        width: 80px !important;
        margin-top: 0px !important;
        margin-left: 250px !important;
    }
}

/* iPhone X */
@media only screen and (max-width: 812px) and (orientation: landscape) {

    .logo img {
        width: 120px;
        height: auto;
        margin-top: 30px;
        margin-left: 60px;
    }

    .yellowSection1 { 
        height: 600px !important;
    }

    .text-container p {
        font-size: 40px !important;
    }
    
    .second-line-text p {
        font-family: 'Orelega One', sans-serif;
        font-size: 60px !important;
        color: black;
        margin-left: 60px !important;
        margin-top: -20px !important;
    }
    
    .image-wrapper { 
        margin-top: -240px !important;
        margin-left: 60px !important;
    }

    .card-image {
        width: 310px !important;
        height: auto;
    }
    
    .caixa .linha {
        flex-direction: column;
        text-align: center;
    }

    .caixa { 
        width: 70% !important;
    }

    .union-image { 
        display: none;
    }

    .floating-image {
        display: none;
    }

    .fixed-image { 
        margin-top: -30px !important;
        margin-left: 300px !important;
        margin-right: 80px !important;
        margin-bottom: 100px !important;
    }

    .section3 {
        padding-left: 20px !important;
        padding-right: 10px !important;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .custom-col { 
        width: 100%;
    }

    .custom-row p {
        font-size: 50px !important;
        margin-left: 230px !important;
    }
    
    .custom-row-text p {
        font-size: 16px !important;
        margin-top: 30px !important;
        margin-left: 230px !important;
    }

    .col-a { 
        width: 60px;
    }

    .col-b { 
        margin-top: 55px;
        margin-left: 20px;
        white-space: nowrap;
        width: 600px;
    }

    .custom-col img {
        width: 80px !important;
        margin-top: 0px !important;
        margin-left: 225px !important;
    }

    .responsive-card-image {
        display: block !important;
        width: 80% !important;
        margin-left: 60px !important;
        margin-right: 20px !important;
        margin-top: 400px !important;
    }

    .yeeey-image-container {
        width: 100%;
        margin-bottom: 60px;
    }

    .yeeey-image {
        margin-top: 80px !important;
        margin-left: 100px;
        width: 280px;
        height: auto;
    }
}

/* iPhone 6/7/8 Plus */
@media only screen and (max-width: 736px) and (orientation: landscape) {

    .yellowSection1 { 
        background-image: none !important;
    }

    .line { 
        display: none;
    }

    .download-button { 
        display: none;
    }

    .access-button img { 
        width: 18% !important;
        height: auto;
        margin-left: 360px !important;
        margin-top: 40px !important;
    }

    .text-container p {
        font-size: 20px !important;
        margin-left: 160px !important;
    }
    
    .second-line-text p {
        font-family: 'Orelega One', sans-serif;
        font-size: 60px !important;
        color: black;
        margin-left: 60px !important;
        margin-top: -20px !important;
    }

    .card-image {
        width: 280px !important;
        height: auto;
    }
    
    .caixa .linha {
        flex-direction: column;
        text-align: center;
    }

    .caixa { 
        width: 70% !important;
    }

    .union-image { 
        display: none;
    }

    .floating-image {
        display: none;
    }

    .fixed-image { 
        margin-top: -30px !important;
        margin-left: 300px !important;
        margin-right: 80px !important;
        margin-bottom: 100px !important;
    }

    .section3 {
        padding-left: 20px !important;
        padding-right: 10px !important;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .custom-col { 
        width: 100%;
    }

    .custom-row p {
        font-size: 50px !important;
        margin-left: 230px !important;
    }
    
    .custom-row-text p {
        font-size: 16px !important;
        margin-top: 30px !important;
        margin-left: 230px !important;
    }

    .col-a { 
        width: 60px;
    }

    .col-b { 
        margin-top: 55px;
        margin-left: 20px;
        white-space: nowrap;
        width: 600px;
    }

    .custom-col img {
        width: 80px !important;
        margin-top: 0px !important;
        margin-left: 225px !important;
    }

    .second3 { 
        height: 500px !important;
    }

    .section4 { 
        height: 500px !important;
    }

    .responsive-card-image {
        display: block !important;
        width: 70% !important;
        margin-left: 120px !important;
        margin-right: 20px !important;
        margin-top: 250px !important;
    }

    .yeeey-image-container {
        width: 100%;
        margin-bottom: 60px;
        margin-left: 160px !important;
    }

    .yeeey-image {
        margin-top: 80px !important;
        width: 280px;
        height: auto;
    }

    .caixa { 
        margin-left: 80px !important;
    }
}

@media only screen and (max-width: 568px) and (orientation: landscape) {

    .yellowSection1 { 
        height: 600px !important;
    }

    .text-container p {
        font-size: 40px !important;
        margin-left: 60px !important;
    }
    
    .second-line-text p {
        font-family: 'Orelega One', sans-serif;
        font-size: 60px !important;
        color: black;
        margin-left: 60px !important;
        margin-top: -20px !important;
    }
    
    .image-wrapper { 
        margin-top: -20px !important;
        margin-left: 30px !important;
    }

    .card-image {
        width: 340px !important;
        height: auto;
    }
    
    .caixa .linha {
        flex-direction: column;
        text-align: center;
    }

    .caixa { 
        width: 70% !important;
    }

    .union-image { 
        display: none;
    }

    .floating-image {
        display: none;
    }

    .fixed-image { 
        margin-top: -30px !important;
        margin-left: 300px !important;
        margin-right: 80px !important;
        margin-bottom: 100px !important;
    }

    .section3 {
        padding-left: 20px !important;
        padding-right: 10px !important;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .custom-col { 
        width: 100%;
    }

    .custom-row p {
        font-size: 42px !important;
        margin-left: 230px !important;
    }
    
    .custom-row-text p {
        font-size: 15px !important;
        margin-top: 20px !important;
        margin-left: 240px !important;
    }

    .col-a { 
        width: 60px;
    }

    .col-b { 
        margin-top: 55px;
        margin-left: 20px;
        white-space: nowrap;
        width: 600px;
    }

    .custom-col img {
        width: 65px !important;
        margin-top: 0px !important;
        margin-left: 225px !important;
    }

    .section4 { 
        height: 430px !important;
    }

    .responsive-card-image {
        display: block !important;
        width: 70% !important;
        margin-left: 100px !important;
        margin-right: 20px !important;
        margin-top: 250px !important;
    }

    .yeeey-image-container {
        width: 100%;
        margin-bottom: 60px;
        margin-left: 60px !important;
    }

    .yeeey-image {
        margin-top: 80px !important;
        width: 280px;
        height: auto;
    }

    .caixa { 
        margin-left: 80px !important;
    }
}

@media only screen and (max-width: 480px) and (orientation: landscape) {

    .yellowSection1 { 
        height: 600px !important;
    }

    .text-container p {
        font-size: 40px !important;
        margin-left: 60px !important;
    }
    
    .second-line-text p {
        font-family: 'Orelega One', sans-serif;
        font-size: 60px !important;
        color: black;
        margin-left: 60px !important;
        margin-top: -20px !important;
    }
    
    .image-wrapper { 
        margin-top: -20px !important;
        margin-left: -10px !important;
    }

    .card-image {
        width: 340px !important;
        height: auto;
    }
    
    .caixa .linha {
        flex-direction: column;
        text-align: center;
    }

    .caixa { 
        width: 70% !important;
    }

    .union-image { 
        display: none;
    }

    .floating-image {
        display: none;
    }

    .fixed-image { 
        margin-top: -30px !important;
        margin-left: 300px !important;
        margin-right: 80px !important;
        margin-bottom: 100px !important;
    }

    .section3 {
        padding-left: 20px !important;
        padding-right: 10px !important;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .custom-col { 
        width: 100%;
    }

    .custom-row p {
        font-size: 52px !important;
        margin-left: 20px !important;
    }
    
    .custom-row-text p {
        font-size: 15px !important;
        margin-top: 10px !important;
        margin-left: 20px !important;
        background-color: #fff;
        border: 4px solid #000;
        padding: 10px;
        box-sizing: border-box;
        box-shadow: 8px 8px 0px 0px #000;
        margin-bottom: 100px;
    }

    .col-a { 
        width: 60px;
    }

    .col-b { 
        margin-top: 55px;
        margin-left: 20px;
        white-space: nowrap;
        width: 600px;
    }

    .custom-col img {
        width: 78px !important;
        margin-top: 0px !important;
        margin-left: 20px !important;
        margin-right: 10px !important;
    }

    .section3 { 
        height: 400px !important;
    }

    .section4 { 
        height: 350px !important;
    }

    .responsive-card-image {
        display: block !important;
        width: 70% !important;
        margin-left: 100px !important;
        margin-right: 20px !important;
        margin-top: 200px !important;
    }

    .yeeey-image-container {
        width: 100%;
        margin-bottom: 60px;
        margin-left: 60px !important;
    }

    .yeeey-image {
        margin-top: 80px !important;
        width: 280px;
        height: auto;
    }

    .caixa { 
        margin-left: 80px !important;
    }
}

@media only screen and (max-width: 823px) and (orientation: landscape) {

    .logo img {
        width: 120px;
        height: auto;
        margin-top: 30px;
        margin-left: 60px;
    }

    .yellowSection1 { 
        height: 620px !important;
    }

    .text-container p {
        font-size: 40px !important;
        margin-left: -80px !important;
    }
    
    .second-line-text p {
        font-family: 'Orelega One', sans-serif;
        font-size: 60px !important;
        color: black;
        margin-left: 60px !important;
        margin-top: -20px !important;
    }
    
    .image-wrapper { 
        margin-top: -240px !important;
        margin-left: 60px !important;
    }

    .card-image {
        width: 340px !important;
        height: auto;
    }
    
    .caixa .linha {
        flex-direction: column;
        text-align: center;
    }

    .caixa { 
        width: 70% !important;
    }

    .union-image { 
        display: none;
    }

    .floating-image {
        display: none;
    }

    .fixed-image { 
        margin-top: -30px !important;
        margin-left: 300px !important;
        margin-right: 80px !important;
        margin-bottom: 100px !important;
    }

    .section3 {
        padding-left: 20px !important;
        padding-right: 10px !important;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .custom-col { 
        width: 100%;
    }

    .custom-row p {
        font-size: 60px !important;
        margin-left: 260px !important;
    }
    
    .custom-row-text p {
        font-size: 16px !important;
        margin-top: 10px !important;
        margin-left: 250px !important;
    }

    .col-a { 
        width: 60px;
    }

    .col-b { 
        margin-top: 55px;
        margin-left: 20px;
        white-space: nowrap;
        width: 600px;
    }

    .custom-col img {
        width: 78px !important;
        margin-top: 10px !important;
        margin-left: 260px !important;
        margin-right: 10px !important;
    }

    .section3 { 
        height: 360px !important;
    }

    .section4 { 
        height: 500px !important;
    }

    .responsive-card-image {
        display: block !important;
        width: 60% !important;
        margin-left: 150px !important;
        margin-right: 20px !important;
        margin-top: 260px !important;
    }

    .yeeey-image-container {
        width: 100%;
        margin-bottom: 60px;
        margin-left: -40px !important;
    }

    .yeeey-image {
        margin-top: 80px !important;
        width: 280px;
        height: auto;
    }

    .caixa { 
        margin-left: 80px !important;
        width: 80% !important;
    }
}

@media only screen and (max-width: 731px) and (orientation: landscape) {

    .logo img {
        width: 120px;
        height: auto;
        margin-top: 30px;
        margin-left: 60px;
    }

    .yellowSection1 { 
        height: 600px !important;
    }

    .text-container p {
        font-size: 40px !important;
        margin-left: 60px !important;
    }
    
    .second-line-text p {
        font-family: 'Orelega One', sans-serif;
        font-size: 60px !important;
        color: black;
        margin-left: 60px !important;
        margin-top: -20px !important;
    }
    
    .image-wrapper { 
        margin-top: -30px !important;
        margin-left: 80px !important;
    }

    .card-image {
        width: 340px !important;
        height: auto;
    }
    
    .caixa .linha {
        flex-direction: column;
        text-align: center;
    }

    .caixa { 
        width: 70% !important;
    }

    .union-image { 
        display: none;
    }

    .floating-image {
        display: none;
    }

    .fixed-image { 
        margin-top: -30px !important;
        margin-left: 300px !important;
        margin-right: 80px !important;
        margin-bottom: 100px !important;
    }

    .section3 {
        padding-left: 20px !important;
        padding-right: 10px !important;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .custom-col { 
        width: 100%;
    }

    .custom-row p {
        font-size: 60px !important;
        margin-left: 260px !important;
    }
    
    .custom-row-text p {
        font-size: 16px !important;
        margin-top: 10px !important;
        margin-left: 250px !important;
    }

    .col-a { 
        width: 60px;
    }

    .col-b { 
        margin-top: 55px;
        margin-left: 20px;
        white-space: nowrap;
        width: 600px;
    }

    .custom-col img {
        width: 78px !important;
        margin-top: 10px !important;
        margin-left: 260px !important;
        margin-right: 10px !important;
    }

    .section3 { 
        height: 360px !important;
    }

    .section4 { 
        height: 450px !important;
    }

    .responsive-card-image {
        display: block !important;
        width: 60% !important;
        margin-left: 150px !important;
        margin-right: 20px !important;
        margin-top: 260px !important;
    }

    .yeeey-image-container {
        width: 100%;
        margin-bottom: 60px;
        margin-left: 60px !important;
    }

    .yeeey-image {
        margin-top: 80px !important;
        width: 280px;
        height: auto;
    }

    .caixa { 
        margin-left: 80px !important;
        width: 80% !important;
    }
}

/* iPhone 6/7/8 */
@media only screen and (max-width: 667px) and (orientation: landscape) {

    .yellowSection1 { 
        background-image: none !important;
    }

    .access-button img { 
        width: 28%;
        height: auto;
        margin-left: 260px;
    }

    .logo img {
        width: 120px;
        height: auto;
        margin-top: 30px;
        margin-left: 60px;
    }

    .yellowSection1 { 
        height: 600px !important;
    }

    .text-container p {
        font-size: 40px !important;
        margin-left: 60px !important;
    }
    
    .second-line-text p {
        font-family: 'Orelega One', sans-serif;
        font-size: 60px !important;
        color: black;
        margin-left: 60px !important;
        margin-top: -20px !important;
    }
    
    .image-wrapper { 
        margin-top: -30px !important;
        margin-left: 80px !important;
    }

    .card-image {
        width: 340px !important;
        height: auto;
    }
    
    .caixa .linha {
        flex-direction: column;
        text-align: center;
    }

    .caixa { 
        width: 70% !important;
    }

    .union-image { 
        display: none;
    }

    .floating-image {
        display: none;
    }

    .fixed-image { 
        margin-top: -30px !important;
        margin-left: 300px !important;
        margin-right: 80px !important;
        margin-bottom: 100px !important;
    }

    .section3 {
        padding-left: 20px !important;
        padding-right: 10px !important;
        padding-top: 20px;
        padding-bottom: 30px;
        height: 500px !important;
    }

    .custom-col { 
        width: 100%;
    }

    .custom-row p {
        font-size: 50px !important;
        margin-left: 260px !important;
    }
    
    .custom-row-text p {
        font-size: 14px !important;
        margin-top: 10px !important;
        margin-left: 260px !important;
    }

    .col-a { 
        width: 60px;
    }

    .col-b { 
        margin-top: 55px;
        margin-left: 20px;
        white-space: nowrap;
        width: 600px;
    }

    .custom-col img {
        width: 70px !important;
        margin-top: 5px !important;
        margin-left: 260px !important;
        margin-right: 10px !important;
    }

    .section4 { 
        height: 450px !important;
    }

    .responsive-card-image {
        display: block !important;
        width: 60% !important;
        margin-left: 150px !important;
        margin-right: 20px !important;
        margin-top: 260px !important;
    }

    .yeeey-image-container {
        width: 100%;
        margin-bottom: 60px;
        margin-left: 60px !important;
    }

    .yeeey-image {
        margin-top: 80px !important;
        width: 280px;
        height: auto;
    }

    .caixa { 
        margin-left: 80px !important;
        width: 80% !important;
    }
}

@media only screen and (max-width: 640px) and (orientation: landscape) {

    .access-button img { 
        width: 28%;
        height: auto;
        margin-left: 260px;
    }

    .logo img {
        width: 120px;
        height: auto;
        margin-top: 30px;
        margin-left: 60px;
    }

    .yellowSection1 { 
        height: 600px !important;
    }

    .text-container p {
        font-size: 40px !important;
        margin-left: 60px !important;
    }
    
    .second-line-text p {
        font-family: 'Orelega One', sans-serif;
        font-size: 60px !important;
        color: black;
        margin-left: 60px !important;
        margin-top: -20px !important;
    }
    
    .image-wrapper { 
        margin-top: -30px !important;
        margin-left: 80px !important;
    }

    .card-image {
        width: 340px !important;
        height: auto;
    }
    
    .caixa .linha {
        flex-direction: column;
        text-align: center;
    }

    .caixa { 
        width: 70% !important;
    }

    .union-image { 
        display: none;
    }

    .floating-image {
        display: none;
    }

    .fixed-image { 
        margin-top: -30px !important;
        margin-left: 300px !important;
        margin-right: 80px !important;
        margin-bottom: 100px !important;
    }

    .section3 {
        padding-left: 20px !important;
        padding-right: 10px !important;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .custom-col { 
        width: 100%;
    }

    .custom-row p {
        font-size: 50px !important;
        margin-left: 260px !important;
    }
    
    .custom-row-text p {
        font-size: 15px !important;
        margin-top: 10px !important;
        margin-left: 260px !important;
    }

    .col-a { 
        width: 60px;
    }

    .col-b { 
        margin-top: 55px;
        margin-left: 20px;
        white-space: nowrap;
        width: 600px;
    }

    .custom-col img {
        width: 70px !important;
        margin-top: 5px !important;
        margin-left: 260px !important;
        margin-right: 10px !important;
    }

    .section3 { 
        height: 360px !important;
    }

    .section4 { 
        height: 450px !important;
    }

    .responsive-card-image {
        display: block !important;
        width: 60% !important;
        margin-left: 150px !important;
        margin-right: 20px !important;
        margin-top: 260px !important;
    }

    .yeeey-image-container {
        width: 100%;
        margin-bottom: 60px;
        margin-left: 60px !important;
    }

    .yeeey-image {
        margin-top: 80px !important;
        width: 280px;
        height: auto;
    }

    .caixa { 
        margin-left: 80px !important;
        width: 80% !important;
    }
}

@media only screen and (max-width: 914px) and (orientation: landscape) {

    .access-button img { 
        width: 35%;
        height: auto;
        margin-left: 100px;
    }

    .logo img {
        width: 120px;
        height: auto;
        margin-top: 30px;
        margin-left: 60px;
    }

    .yellowSection1 { 
        height: 600px !important;
    }

    .text-container p {
        font-size: 40px !important;
        margin-left: -80px !important;
    }
    
    .second-line-text p {
        font-family: 'Orelega One', sans-serif;
        font-size: 60px !important;
        color: black;
        margin-left: 60px !important;
        margin-top: -20px !important;
    }
    
    .image-wrapper { 
        margin-top: -260px !important;
        margin-left: 60px !important;
    }

    .card-image {
        width: 340px !important;
        height: auto;
    }
    
    .caixa .linha {
        flex-direction: column;
        text-align: center;
    }

    .caixa { 
        width: 70% !important;
    }

    .union-image { 
        display: none;
    }

    .floating-image {
        display: none;
    }

    .fixed-image { 
        margin-top: -30px !important;
        margin-left: 300px !important;
        margin-right: 80px !important;
        margin-bottom: 100px !important;
    }

    .section3 {
        padding-left: 20px !important;
        padding-right: 10px !important;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .custom-col { 
        width: 100%;
    }

    .custom-row p {
        font-size: 50px !important;
        margin-left: 260px !important;
    }
    
    .custom-row-text p {
        font-size: 17px !important;
        margin-top: 10px !important;
        margin-left: 260px !important;
    }

    .col-a { 
        width: 60px;
    }

    .col-b { 
        margin-top: 55px;
        margin-left: 20px;
        white-space: nowrap;
        width: 600px;
    }

    .custom-col img {
        width: 70px !important;
        margin-top: 5px !important;
        margin-left: 260px !important;
        margin-right: 10px !important;
    }

    .section3 { 
        height: 340px !important;
    }

    .section4 { 
        height: 550px !important;
    }

    .fixed-image { 
        display: none;
    }

    .responsive-card-image {
        display: block !important;
        width: 60% !important;
        margin-left: 150px !important;
        margin-right: 20px !important;
        margin-top: 300px !important;
    }

    .yeeey-image-container {
        width: 100%;
        margin-bottom: 60px;
        margin-left: -40px !important;
    }

    .yeeey-image {
        margin-top: 80px !important;
        width: 280px;
        height: auto;
    }

    .caixa { 
        margin-left: 80px !important;
        width: 80% !important;
    }
}

@media only screen and (max-width: 853px) {

    .access-button img { 
        width: 35%;
        height: auto;
        margin-left: 40px;
    }

    .logo img {
        width: 140px !important;
        height: auto;
        margin-top: 30px;
        margin-left: 60px;
    }

    .union-image { 
        display: none;
    }

    .yellowSection1 { 
        height: 780px !important;
    }

    .text-container p {
        font-size: 40px !important;
        margin-left: -80px !important;
    }
    
    .second-line-text p {
        font-family: 'Orelega One', sans-serif;
        font-size: 60px !important;
        color: black;
        margin-left: 60px !important;
        margin-top: -20px !important;
    }
    
    .image-wrapper { 
        margin-top: 460px !important;
        margin-left: 60px !important;
    }

    .card-image {
        width: 340px !important;
        height: auto;
    }
    
    .caixa .linha {
        flex-direction: column;
        text-align: center;
    }

    .caixa { 
        width: 70% !important;
    }

    .union-image { 
        display: none;
    }

    .floating-image {
        display: none;
    }

    .fixed-image { 
        margin-top: -30px !important;
        margin-left: 300px !important;
        margin-right: 80px !important;
        margin-bottom: 100px !important;
    }

    .section3 {
        padding-left: 20px !important;
        padding-right: 10px !important;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .custom-col { 
        width: 100%;
    }

    .custom-row p {
        font-size: 50px !important;
        margin-left: 260px !important;
    }
    
    .custom-row-text p {
        font-size: 17px !important;
        margin-top: 10px !important;
        margin-left: 260px !important;
    }

    .col-a { 
        width: 60px;
    }

    .col-b { 
        margin-top: 55px;
        margin-left: 20px;
        white-space: nowrap;
        width: 600px;
    }

    .custom-col img {
        width: 70px !important;
        margin-top: 5px !important;
        margin-left: 260px !important;
        margin-right: 10px !important;
    }

    .section3 { 
        height: 340px !important;
    }

    .section4 { 
        height: 550px !important;
    }

    .fixed-image { 
        display: none;
    }

    .responsive-card-image {
        display: block !important;
        width: 50% !important;
        margin-left: 180px !important;
        margin-right: 20px !important;
        margin-top: 300px !important;
    }

    .yeeey-image-container {
        width: 100%;
        margin-bottom: 60px;
        margin-left: -40px !important;
    }

    .yeeey-image {
        margin-top: 80px !important;
        width: 280px;
        height: auto;
    }

    .caixa { 
        margin-left: 80px !important;
        width: 80% !important;
    }
}

@media only screen and (max-width: 812px) {

    .access-button img { 
        width: 50%;
        height: auto;
        margin-left: 40px;
    }

    .logo img {
        width: 140px !important;
        height: auto;
        margin-top: 30px;
        margin-left: 60px;
    }

    .union-image { 
        display: none;
    }

    .yellowSection1 { 
        height: 700px !important;
    }

    .text-container p {
        font-size: 40px !important;
        margin-left: -80px !important;
    }
    
    .second-line-text p {
        font-family: 'Orelega One', sans-serif;
        font-size: 60px !important;
        color: black;
        margin-left: 60px !important;
        margin-top: -20px !important;
    }
    
    .image-wrapper { 
        margin-top: -160px !important;
        margin-left: 60px !important;
    }

    .card-image {
        width: 340px !important;
        height: auto;
    }
    
    .caixa .linha {
        flex-direction: column;
        text-align: center;
    }

    .caixa { 
        width: 70% !important;
    }

    .union-image { 
        display: none;
    }

    .floating-image {
        display: none;
    }

    .fixed-image { 
        margin-top: -30px !important;
        margin-left: 300px !important;
        margin-right: 80px !important;
        margin-bottom: 100px !important;
    }

    .section3 {
        padding-left: 20px !important;
        padding-right: 10px !important;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .custom-col { 
        width: 100%;
    }

    .custom-row p {
        font-size: 50px !important;
        margin-left: 260px !important;
    }
    
    .custom-row-text p {
        font-size: 17px !important;
        margin-top: 10px !important;
        margin-left: 260px !important;
    }

    .col-a { 
        width: 60px;
    }

    .col-b { 
        margin-top: 55px;
        margin-left: 20px;
        white-space: nowrap;
        width: 600px;
    }

    .custom-col img {
        width: 70px !important;
        margin-top: 5px !important;
        margin-left: 260px !important;
        margin-right: 10px !important;
    }

    .section3 { 
        height: 340px !important;
    }

    .section4 { 
        height: 520px !important;
    }

    .fixed-image { 
        display: none;
    }

    .responsive-card-image {
        display: block !important;
        width: 60% !important;
        margin-left: 180px !important;
        margin-right: 20px !important;
        margin-top: 300px !important;
    }

    .yeeey-image-container {
        width: 100%;
        margin-bottom: 60px;
        margin-left: -40px !important;
    }

    .yeeey-image {
        margin-top: 80px !important;
        width: 280px;
        height: auto;
    }

    .caixa { 
        margin-left: 80px !important;
        width: 80% !important;
    }
}