.section5 {
    background: linear-gradient(to right, 
        #ECF20D 0%,
        #ECEB12 10%,
        #EFBF33 20%,
        #F29850 30%,
        #F47668 40%,
        #F55C7C 50%,
        #F6478B 60%,
        #F73896 70%,
        #F8309C 80%,
        #F82D9E 100%
    );
    color: #000;
    padding: 20px;
    overflow: hidden;
    font-family: 'Monomaniac One', sans-serif;
    font-size: 22px;
}

.section5-row {
    display: flex;
    flex-wrap: wrap;
}

.section5-col {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.column-part {
    display: flex;
    flex-direction: row; /* Change to row to create two columns */
    align-items: center;
    text-align: center;
}

.icon-column {
    margin-right: 10px; /* Adjust the spacing between the icon and text columns */
}

.column-part img {
    width: 110px;
    height: 110px;
}

.text-column {
    width: 200px;
    text-align: left; /* Align text to the left */
    word-wrap: break-word; /* Allow text to break by word */
}
