#section4 {
    background-color: #EBFF00;
    position: relative;
    width: 100%;
    height: 550px;
}

.image-container {
    position: absolute;
    left: 0px;
    top: -50%;
}

.floating-image {
    width: 700px;
    height: auto;
    margin: 0;
}
